#github-link, #youtube-link, #linkdin-link, #email-link {
    color: black;
    padding-right: 10px;
}

#github-link:hover {
    color: darkblue;
}

#youtube-link:hover {
    color: red;
}

#linkdin-link:hover {
    color: rgb(13, 91, 186);
}

#email-link:hover {
    color: blue;
}